[2018-07-16 18:18] gnestor opened #253 "Migrate from bower to npm?"
This is meant to continue the discussion from https://github.com/jupyter/notebook/issues/3755.

Should we migrate from bower to npm? Bower is currently working but npm has become the de facto package manger for Javascript, so it probably be better to use npm in the future, but how much work would it require to switch npm?

[2019-11-16 15:14] echarles opened #1 "Flags and Aliases handling"
In JupyterLab as jupyter_server extension, I [import flags and aliases from nbclassic](https://github.com/datalayer-contrib/jupyterlab/blob/44a0aa048e44aacdcea8c72eb0b2f22eafedb647/jupyterlab/labapp.py#L16) which fails on `jupyter lab --watch` with `Unrecognized flag: '--watch'`.

I replace those import from nbclassic with `from jupyter_server.serverapp import aliases, flags` and the lab can be st

[2019-12-01 14:06] echarles opened #2 "Kernel name is not displayed with Kernel Manager"
Running notebook with nbclassic, server and kernel_mgmt has a side effect: The name of the running kernel is no more displayed, instead a generic `Kernel` label is shown to the user.

This PR is opened to discuss if we need to solve this (I believe this should not be a blocker to release), when and how.

The link of the initial patch made by @takluyver is taken here: https://patch-diff.githubuserc

[2019-12-01 16:24] kevin-bates commented on #2
Thanks for opening this issue @echarles.  We definitely need the changes, but I agree it is not a release blocker.  Are you able to enumerate what the changes actually are?  (This is one of the remaining items in https://github.com/jupyter/jupyter_server/pull/112 and it would be great to reference that enumeration.)

Having not looked at the changes and given that JupyterLab "just works" (although

[2019-12-01 17:13] echarles commented on #2
Hi Kevin, I have applied the [static diffs](https://gist.github.com/echarles/89f799fd414d25234373f1c71da6922b) and kernel name is correctly displayed in both [1] notebook with nbclassic+jupyter_server+kernel_mgmt AND [2] also with plain normal notebook (for this last one, I had to manually apply the diff on one file which had evolved).

It is just now a matter to decide if we want to open a PR in

[2019-12-01 17:43] echarles commented on #2
Well, the enumreation would be a few simple javascript changes in the following files:

- notebook/static/notebook/js/kernelselector.js
- notebook/static/services/sessions/session.js
- notebook/static/tree/js/newnotebook.js

[2019-12-01 18:13] kevin-bates commented on #2
Beautiful!  Yeah, I feel like using both `ks.spec.display_name` and the parenthesized `ks.name` is a bit redundant since `ks.spec.display_name` tends to be a function of `ks.name`.  In addition, display real estate is at a premium.

I'd rather see the parenthesized value be only the provider id prefix - which implies we'd need some parsing logic or add provider_id to the kernelspec return value.

[2019-12-01 18:26] takluyver commented on #2
My thinking is that frontends should include the full kernel type ID, e.g. `spec/python3` or `conda/env-foo`, including both the provider ID and the kernel type name within that provider. From experience with kernel specs, it's easy to end up with multiple kernels from one provider having the same display name, and the current UI makes them impossible to distinguish.

I think it's up to the fronte

[2019-12-01 18:30] echarles commented on #2
PS: It is all over spread in various repos and prolly the nbclassic is not impacted at all by this discussion. In another way, it may be a good place as discuss this as independent of the various components that will come into picture. After all, this is aimed to be a shim for the other components...

To further take decision, I would rather see converging with the jlab+server+kmgmt combo stack.
W

[2019-12-01 18:43] kevin-bates commented on #2
@takluyver - I just realized that conda kernels have the ambiguity issue.  Same display names, different kernel names (since they include the conda env), but same provider id (conda).  I retract my idea of separating out provider_id from `ks.name`.  In addition, the addition of the parenthesized value could be viewed as an enhancement (irrespective of JKM) since it resolves ambiguity.

@echarles -

[2019-12-01 18:52] takluyver commented on #2
I suggest:

- A *kernel spec* is a directory with a `kernel.json` file.
- A *kernel type* is anything discovered through the JKM machinery (which includes kernel specs, exposed with the `spec/` prefix). This has:
  - A *kernel type ID* (the qualified string, e.g. `spec/python3`)
  - *kernel type metadata* (the dictionary from `find_kernels` with more details about that kernel type)
- *kernel insta

[2019-12-01 18:54] echarles commented on #2
Hence maybe my confusion sometimes... If there are different things, it should have different names. I just see Thomas last comment here above. If we name in another way in the documentation, is there impact in the source code to make it more clear?

[2019-12-05 11:53] echarles commented on #1
This should be fixed with https://github.com/jupyter/jupyter_server/pull/149 when merged.

[2019-12-14 08:04] echarles commented on #1
This is now fixed with https://github.com/jupyter/jupyter_server/pull/159. Thx @Zsailer

[2019-12-14 08:04] #1 closed

[2020-01-03 07:59] echarles opened #6 "[SPEC] Migration of notebook extension definitions to jupyter_server"
This is a place to finalize the discussion related to the migration of the extension files from https://github.com/jupyter/notebook to https://github.com/jupyter/jupyter_server.

**Goal**

Collect the json files located in `jupyter_paths` which contain a `NotebookApp` stanza, e.g. `jupyterlab_git.json` looking like:

[code]

Convert the collected files to something like:

[code]

The jupyter path

[2020-02-14 15:40] echarles commented on #6
@Zsailer @vidartf this is the place where we can discuss what needs to be done to ensure `nbclassic` provides the correct functionality to allow migration from `notebook` to `server` (see first comment of this issue)

[2020-04-25 09:34] oeway opened #9 "'NotebookApp' has no attribute 'load_jupyter_server_extension'"
Hi, I am trying nbclassic but it seems broken.

Here is the command I used:
[code]

Here is a part of the stack trace:
[code]

I also tried `pip install jupyter_server nbclassic notebook` within in my base conda env, and get a different error message: `ImportError: cannot import name 'secure_write' from 'jupyter_core.paths' (/Users/me/miniconda3/lib/python3.7/site-packages/jupyter_core/paths.py)`

[2020-04-25 18:20] Zsailer commented on #9
Oops. Looks like the nbclassic on PyPI needs a release. I think if you install nbclassic from source it will work for now. I’ll work on putting out a release in the next day or two.

[2020-04-26 13:52] oeway commented on #9
@Zsailer Thanks! I confirm that the source installation worked.

[2020-04-29 22:05] Zsailer commented on #9
Released version v0.1 today!

[2020-04-29 22:05] #9 closed

[2020-04-30 16:01] Zsailer opened #11 "Support Python 3.5"

[2020-08-03 15:57] Zsailer opened #14 "jupyter_server_config.d not moved on install"
This issue was raised by @echarles.

The default enabling file in the `jupyter-config` is not being moved to the proper place on `pip install`. This may be an issue with jupyter-packaging.

[2020-08-03 21:52] Zsailer commented on #11
Fixed in #15

[2020-08-03 21:52] #11 closed

[2020-08-04 15:25] blink1073 opened #17 "Use a standard version file"
Copy https://github.com/jupyterlab/jupyterlab-module-federation/tree/a182378035da68fe37fe59e9d5798d07e1534bc6/md_package

[2020-08-04 15:29] Zsailer opened #19 "Remove tags from jupyter/notebook"

[2020-09-25 19:55] jtpio opened #30 "Error when running jupyter nbclassic -h"
Opening an issue related to this PR: https://github.com/jupyterlab/nbclassic/pull/29

Running `jupyter nbclassic -h` throws the following error:

[code]

Example run: https://github.com/jupyterlab/nbclassic/pull/29/checks?check_run_id=1167277492

This seems to be related to the two following aliases:

https://github.com/jupyterlab/nbclassic/blob/cff037e8364005b5693b46e62640bd877c6f1659/nbclassic/n

[2020-09-25 19:59] jtpio commented on #30
It was found when adding the conda forge recipe for `nbclassic` here: https://github.com/conda-forge/staged-recipes/pull/12722

However we can probably omit the test that runs `jupyter nbclassic -h` in the recipe (https://github.com/conda-forge/staged-recipes/pull/12722/commits/c168a54c641fe0dbec3bcf1bffde434227fc5016) for now, and keep it as an `nbclassic` issue which can be fixed later (so it's

[2020-09-29 19:14] afshin opened #32 "Add tests for new terminal and editor handling"
cf. https://github.com/jupyterlab/nbclassic/pull/31

This is a test that was removed from `jupyter_server` that should be included in nbclassic:
[code]

[2020-12-06 19:58] bollwyvl opened #35 "Remove tests from distributions, or put in-tree, or... ?"
`site-packages/tests` is a total dumping ground, and basically useless for anybody.

However, including the tests in the distribution _can_ be useful, but in-tree, such that they can be run with `pytest --pyargs nbclassic`, as well as potentially making test things useful to downstreams, e.g. `from nbclassic.tests import useful_fixture`. Or whatever.

So, I propose one of:
- ignore `tests` with `f

[2020-12-08 22:49] #35 closed

[2021-01-12 18:58] Carreau opened #39 "Error when using --autoreload"
[code]

You may also want to update the setup.py link for homepage to point to github and not Jupyter.org or it can be hard to find this repo.

[2021-01-14 00:10] Zsailer commented on #39
Fixed in jupyter-server/jupyter_server#380

[2021-01-14 00:10] #39 closed

[2021-01-14 00:11] Zsailer commented on #30
This seems to be working again (not sure when that happened 😆)

[2021-01-14 00:11] #30 closed

[2021-01-14 00:12] #19 closed

[2021-01-14 00:12] #14 closed

[2021-01-14 00:16] Zsailer commented on #6
I believe we solved the issues raised in this discussion by adding the shim layer in #7. Closing 🎉

[2021-01-14 00:16] #6 closed

[2021-01-14 07:43] jtpio commented on #30
Just rebased https://github.com/jupyterlab/nbclassic/pull/29 to add this command on CI, and it seems to be passing :+1:

[2021-01-19 19:50] kevin-bates opened #41 "Custom manager classes in both notebook vs. jupyter_server"
Currently, the way we check the `*_manager_class` traits (i.e. `kernel_manager_class`, `contents_manager_class`, etc.) prevents anyone from creating a custom class that works with *both* notebook and jupyter_server. That's because the `Type()` trait checks that the custom class inherits from a manager of **one** of these packages, not both.

You will either see:
[code]
if you inherit the base clas

[2021-01-19 20:14] kevin-bates commented on #41
After thinking about this further, I think this may only apply (practically speaking) to custom contents managers.

[2021-01-19 20:23] mwouts commented on #41
Yes this is an issue that we encountered for Jupytext, and we found no other solution than building the contents manager class _dynamically_ from the current contents manager:

https://github.com/mwouts/jupytext/blob/d2898da3771d224bab3c15a2ea3e8e6e30a20423/jupytext/__init__.py#L40-L42

In practice it works well, but maybe that's not the best design... happy to learn of better workarounds!

[2021-01-19 20:26] vidartf commented on #41
We could maybe do something similar to this?

https://github.com/jupyter/nbdime/blob/c82362344e596efdc4f54c927d90338940e0fa41/nbdime/webapp/nb_server_extension.py#L16-L33

[2021-01-21 18:01] kevin-bates commented on #41
Looks like this is getting handled in the respective server bases (https://github.com/jupyter-server/jupyter_server/pull/392, https://github.com/jupyter/notebook/pull/5957)- which makes sense.

[2021-01-21 18:01] #41 closed

[2021-02-01 22:37] rmoe opened #43 "Jupyterlab extension fails to load when c.NotebookApp.log_json is set"
I'm testing out JupyterLab 3.0.5 alongside classic notebook in a JupyterHub environment. The classic notebook works fine but when navigating to `/lab` I get a 404. In the logs I see the following traceback on server startup:

[code]

`c.NotebookApp.log_json = True` is set in `.jupyter/jupyter_notebook_config.py`

[2021-02-02 14:17] mriedem commented on #43
@kevin-bates any idea on this? I wasn't familiar with the push to jupyterlab and notebook -> notebook-server when I worked on https://github.com/jupyter/notebook/pull/5799 but now I realize why you wanted to mirror that change in notebook-server. 😄

@rmoe mentioned he found a workaround for this issue:

Is that the correct thing to do here or is there an issue to be fixed?

[2021-02-02 16:12] kevin-bates commented on #43
Yeah, I think the correct next step is to get the json-logging PR into [jupyter_server](https://github.com/jupyter-server/jupyter_server).  Given the test frameworks are different and most of the PR is test code, it might be easier to just apply the non-test changes and create new test code than cherry-pick the commits.

I'm not really up on all the _shimming_ that takes place in these environment

[2021-02-08 19:53] juliangilbey opened #44 "jupyter-server is now at version 1.3.0"
Hi,
jupyter-server is now at version 1.3.0, but nbclassic requires version `~=1.1`. How easy would it be to update nbclassic to require the current version?
Thanks!

[2021-03-13 06:07] jeffyjefflabs opened #46 "jupyter_nbextensions_configurator doesn't work under nbclassic"
I filed [an issue](https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator/issues/127) in that repo, but it seems like it may not be maintained anymore,  My impression is the extension is doing something unusual by modifying the static file path on the fly, but if by chance there's an easy fix on the nbclassic side, that would be awesome.  But if it's not feasible, that's ok; we have

[2021-05-11 07:51] fcollonval opened #50 "Hack is broken with jupyter_server 1.7.0"
With the latest release of jupyter_server 1.7.0, the following hack is breaking jupyterlab:

https://github.com/jupyterlab/nbclassic/blob/783fbf61c8913976736554a655cdc4e989568dc0/nbclassic/nbserver.py#L80

Xref:
- https://github.com/jupyterlab-contrib/jupyterlab-tour/runs/2552968645?check_suite_focus=true
- https://github.com/jupyterlab/jupyterlab/issues/10228

[2021-05-26 09:14] vidartf opened #61 "Test extension loading order"
A remaining task from #56 was to add tests for the intended behavior. This issue tracks that.

[2021-09-16 23:58] athornton opened #65 "ExtensionManager's link_extension() is no longer in sync with nbclassic"
## Description

ExtensionManager's link_extension() changed its call signature, and nbclassic did not update to follow.

## Reproduce

1. Try to load an extension that loads via nbclassic in JupyterLab after
2. `[W 2021-09-16 17:55:20.931 SingleUserLabApp manager:349] link_extension() takes 2 positional arguments but 3 were given`

## Expected behavior

I expected the extension to load.

## Contex

[2021-09-17 00:20] athornton commented on #65
Thanks to @ktlim for figuring out we were going through the nbclassic path and finding the commit where the ExtensionManager interface changed.

[2021-09-17 18:26] #65 closed

[2021-09-30 20:52] meeseeksmachine commented on #46
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/jupyterlab-notebook-nbextensions/11017/6

[2021-11-02 17:46] jeffyjefflabs commented on #46
Sorry, you caught me in the middle of a move, but I just tried out the new release and it looks good to me!

[2021-11-02 17:52] Zsailer commented on #46
Awesome! Thanks @jeffyjefflabs!

[2021-12-03 18:24] Zsailer opened #81 "The future of nbclassic"
This issue is in response to the Notebook v7 JEP.

Today, `nbclassic` depends on the `notebook` package (v6) for its HTML templates, static files, and javascript libraries. Upgrading to `notebook` v7 (i.e. retrolab) would break `nbclassic`.

The question remains, **what should we do with nbclassic**?

There are three directions we could go:
1. **Keep NBClassic working as today**—the classic Notebo

[2021-12-03 18:33] Zsailer commented on #81
cc @tonyfast @jtpio @SylvainCorlay from our last notebook meeting.

also, cc @fperez @afshin, since we talked about this briefly when drafting the notebook JEP.

[2022-01-19 07:37] jtpio commented on #81
Thanks @Zsailer for raising this.

Maybe this would be the less disruptive approach, and would require minimal effort? And this could be extracted to its own `nbclassic-shim` package that would not depend on `notebook`. So `jupyterlab` can then depend on `nbclassic-shim` instead of depending on `nbclassic`.

Linking to https://github.com/jupyterlab/jupyterlab/pull/11894 which drops `nbclassic` in

[2022-01-21 12:06] kloczek opened #87 "0.3.5: pytest is failing"
## Description
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with P

[2022-02-11 11:21] jtpio commented on #81
Posting here more ideas that have been discussed at the Notebook Weekly calls: https://github.com/jupyter/notebook-team-compass/issues/5

If we still want users to be able to use the classic notebook frontend after Notebook v7 final is released, one way could be to let `nbclassic` serve the classic notebook v6 frontend under different endpoints. In practice that means:

- `retrolab` is taking over

[2022-02-11 16:38] Zsailer commented on #81
This means we'd move the classic notebook Javascript into the nbclassic repo and allowing it to live on indefinitely.

A follow up question is, how do we handle the git history? I'm inclined to say we just move the code here in a PR and not worry about trying to disentangle the old commit history.

[2022-02-14 17:45] kloczek commented on #87
I'm not 100% sure what exacly needs to be moved however I would be glad to test any fix for that issue.

[2022-02-23 21:35] alexandermichels opened #89 "Markdown/HTML images not displaying"
## Description

When using nbclassic (0.3.5 tested, others may be affected) images in notebooks made with Markdown (`![](logo.png)`) and HTML (`<img src="logo.png">`) do not work. Markdown images show a blank cell and HTML images show a broken image icon. Clicking on the image and "Open image in New Tab" directs to "<hub URL>/edit/logo.png". This same bug was reported in the jupyter/notebook repo

[2022-02-28 08:37] #87 closed

[2022-04-27 09:21] echarles commented on #81
We have now a plan for the future as documented on https://github.com/jupyter/notebook-team-compass/issues/5#issuecomment-1085254000

I have opened a PR that takes over the git history for the static assets https://github.com/jupyter/nbclassic/pull/93 Happy to get feedback on it. I am preparing other PRs (with git history) to add the docs, the tests...

[2022-05-02 09:24] cfbolz opened #95 "Whitespace in overly long output"
One of my Python intro students had this (to them frustrating) problem this week: When the output of a cell is very long, it's split up into different `output_area` divs, with `output_subarea`s inside. The bottom and top padding around these `output_subarea` divs make it look like there is an empty line printed in the middle of the long output, making the student search for an extra `print()` in t

[2022-05-13 16:18] echarles opened #100 "[CI] Fix or disable jobs to get a 100% green CI"
This is a meta issue to follow-up the needed work to get a 100% green CI. This main note will be updated to keep track of the progress and assignments.

[ ] doc jobs https://github.com/jupyter/nbclassic/pull/99  @echarles

@RRosio @ericsnekbytes you can use the CI result shown on https://github.com/jupyter/nbclassic/pull/99 to inspect the failing jobs, pick the one you feel comfortable with and as

[2022-05-13 19:48] RRosio commented on #100
Thank you! I will take a look at the following:

- [ ] ```Linux JS Tests``` job. I'll start by looking at the notebook test failure.

[2022-05-20 10:00] echarles opened #101 "Correct version python file?"
What is the best way to define the version for nbclassic, taking into account the jupyter_releaser process

For now, the check_release job is failing (see. https://github.com/jupyter/nbclassic/runs/6521439283?check_suite_focus=true) with

[code]

Should we readd a `__version__.py` file that reexports the `__version__`  defined in `_version.py`. In that case, will the jupyter_releaser still be happ

[2022-05-20 10:51] blink1073 commented on #101
It should be `nbclassic/_version.py` in `pyproject.toml`.  It is using a regex to read the version from the file.

[2022-05-20 12:45] echarles commented on #101
Thx @blink1073 I have opened https://github.com/jupyter/nbclassic/pull/102 to fix the releaser ci job and it is now failing with `error: [Errno 2] No such file or directory: 'pybabel'` on https://github.com/jupyter/nbclassic/runs/6524838596?check_suite_focus=true#step:9:1284

[2022-05-23 19:41] ericsnekbytes commented on #100
I'll take a look at `Testing nbclassic / build (macos, notebook)`.

[2022-05-25 10:57] #101 closed

[2022-06-27 06:15] echarles opened #115 "Update to latest Selenium API"
All selenium tests are failing on main branch, see https://github.com/jupyter/nbclassic/pull/114

cc/ @RRosio @ericsnekbytes

[2022-06-28 11:37] jtpio commented on #115
FYI this is likely related to the latest `4.3.0` release of `selenium` and the removal of deprecated methods.

Also noticed in https://github.com/jupyter/nbgrader/issues/1612

[2022-06-28 11:43] echarles commented on #115
yep just pined selenium and it is much better.

[2022-06-28 11:46] echarles commented on #115
https://github.com/jupyter/nbclassic/pull/114 is ready for review. It pins selenium. We can leave this issue open to plan an removal of the selenium deprecated APIs.

[2022-06-28 11:48] jtpio commented on #115
Their docstrings say:

[code]

So maybe worth trying to update to the new methods?

[2022-07-04 10:57] scmmmh opened #120 "/tree shows 404 after upgrading to 0.4.0"
I'm building a Docker image containing Jupyter Server 1.18.0 + nbclassic 0.4.0 + notebook 6.4.12. When I run ```jupyter server``` and try to access the /tree endpoint, I get a 404 error. If I downgrade nbclassic to 0.3.7, /tree works, but I don't get the fix for notebook extensions that 0.4.0 added.

[2022-07-04 11:50] scmmmh commented on #120
Thank you! That explains why it just worked :-).

Running

```jupyter server extension enable nbclassic```

should also fix this, right?

[2022-07-04 11:54] echarles commented on #120
True, I confirm it is working on my env and is prolly a better way to always enable the jupyter server extension.

[2022-07-04 13:36] scmmmh commented on #120
For some reason running

```jupyter server extension enable --system nbclassic --log-level DEBUG```

gives me the following output:

[code]

Any ideas?

[2022-07-04 13:45] echarles commented on #120
I run that same command on my env and it works fine with following output.  Any detail after you `X Validate failed`?

[code]

maybe try with a brand new env on your local machine before docker?

[code]

[2022-07-04 13:48] scmmmh commented on #120
Good idea. Right. That's working for me as well. Clearly it is one of the other dependencies that is breaking something. No to go looking for which one that is. Thanks for the help.

[2022-07-04 13:54] scmmmh commented on #120
Ok. I blieve I've traced it. The problem is not so much that the "notebook" package is no longer needed, but that when it is installed, enabling the nbclassic extension fails.

[2022-07-04 14:00] echarles commented on #120
Looks I can reproduce that also. After `pip install notebook`, enabling the extension returns.

[code]

`jupyter nbclassic` continues to work, `jupyter server extension enable nbclassic`

This being said, having at the same time `notebook<7` and `nbclassic` and lauching via the `jupyter server` command is not really a scenario we have envisaged. Do you have a need for that or would `jupyter nbclas

[2022-07-04 14:08] scmmmh commented on #120
The reason I don't use jupyter nbclassic directly, is because I'm working on a tool for building images. Depending on how the tool is configured, the image may use nbclassic, jupyterlab, something custom via jupyter_server_proxy or a combination thereof. Using the extensions mechanism and then accessing stuff via the relevant ```/path``` makes the tool much simpler than having to check what is ins

[2022-07-04 14:15] scmmmh commented on #120
Thanks for all the work. In general it nbclassic just works. :+1:

We are planning to transition to notebook>7 and jupyterlab, but nbclassic gives us a nice transition phase while we move all the dependencies / extensions over.

[2022-07-05 08:10] brichet opened #121 "Error with nbclassic==0.4.0, JupyterLab<4 and notebook<7"
This check : https://github.com/jupyter/nbclassic/blob/3ebe3d72182379791ba61c397a4b131df810abe5/nbclassic/__init__.py#L45-L46 seems to work only if `Notebook` is not installed or in a version `>= 7`.

Running :
[code]
raises :
[code]
which is logic because the following command works : https://github.com/jupyter/nbclassic/blob/3ebe3d72182379791ba61c397a4b131df810abe5/nbclassic/__init__.py#L12-L13

[2022-07-05 08:23] echarles commented on #121
Thx for reporting. We have been discussing that in https://github.com/jupyter/nbclassic/issues/120#issuecomment-1173850619

I have opened a fix on https://github.com/jupyter/nbclassic/pull/122

[2022-07-05 08:23] echarles commented on #120
I have opened a fix on https://github.com/jupyter/nbclassic/pull/122

[2022-07-05 18:59] #120 closed

[2022-07-05 18:59] #121 closed

[2022-07-09 17:02] minrk opened #128 "nbclassic has no attribute base"
Linking nbclassic 0.4.2 fails with:

[code]

I believe is [here](https://github.com/jupyter/nbclassic/blob/4ca81ca59e4bffc6042266b6f5c60a4e323a6097/nbclassic/notebookapp.py#L204).

I think there are some incomplete migrations bringing in legacy notebook things. The `bundler` extension also has a number of undefined names and imports that I don't think will work.

[2022-07-09 17:23] echarles commented on #128
@minrk Can you paste here the commands to reproduce the issue?

[2022-07-09 23:38] minrk commented on #128
Sure! Installing and enabling nbclassic in a clean env is enough:

[code]

produces:

[code]

Importing nbclassic.bundler.handlers also fails:

[code]

<details>
<summary>pip freeze</summary>

[code]
</summary>

[2022-07-10 00:25] minrk commented on #128
Strangely, there's an additional error in the jupyterhub tests (what brought me here) that prevents load as well:

[code]

I'm not 100% sure what's different there, but #130 appears to fix it.

[2022-07-10 05:51] echarles commented on #128
Thx @minrk I have run those commands on my env and it works fine (was also working fine in my existing conda env).

[code]

It is true that there is a warning `module 'nbclassic' has no attribute 'base'`. Starting with `--debug` does not give more details. I think jupyter-server is silently catching some errors (cc/ @Zsailer)

[code]

[2022-07-11 10:53] jongillham commented on #128
FYI I had the same issue as well I presume is the same issue as well https://stackoverflow.com/questions/72883216/jupyterhub-fails-to-spawn-new-session-with-no-module-named-ipythonhandler when running the JupyterHub Docker image. My JupyterHub service stopped working after I rebuilt the container.

[2022-07-12 06:15] #128 closed

[2022-07-12 06:43] echarles commented on #128
@minrk @jongillham nbclassic 0.4.3 is released https://github.com/jupyter/nbclassic/releases/tag/v0.4.3
I hope it solves the issues you have encountered.

[2022-08-02 16:58] bnavigator opened #135 "setup.py and setup.cfg metadata is inconsistent"
I see you copied over the notebook 6 setup.py to nbclassic. Now there are two files with inconsistend metadata in the repository.

[2022-08-02 19:19] dylanramzn opened #136 "jupter_notebook_config.py not being executed"
### Description

Since upgrading from nbclassic v0.3.7 to v0.4.3, starting jupyter with `jupyter nbclassic` is no longer executing `~/.jupyter/jupyter_notebook_config.py`. The `~/.jupyter/jupyter_server_config.py` file is still being executed (same as before).

### Expected behavior

When running `jupyter nbclassic`, the `jupyter_notebook_config.py` file should be executed.

### Steps to reproduce

[2022-08-03 15:59] echarles commented on #136
@Zsailer you mentioned a potential issue in the notebook_shim. Do you confirm the issue would be there or do we need to look in nbclassic (I can imagine the issue is on that side).

[2022-08-03 16:12] Zsailer commented on #136
@echarles this was caused by #130.

Changing the `name` attribute from `"notebook"` to `"nbclassic"` changes the behavior of traitlets to look for `jupyter_nbclassic_config` instead of `jupyter_notebook_config`.

[2022-08-03 16:14] Zsailer commented on #136
We can likely pick up these config files in notebook_shim, but this may take some work. I'll try to carve out time today/tomorrow to develop a fix.

[2022-08-03 16:17] echarles commented on #136
We had to change the extension name to allow installing both notebook. (v7) and nbclassic extensions at the same time.

Sound like notebook_shim is a good place to handle that change and add there the loading of the `jupyter_notebook_config` files. Happy to review and help.

[2022-08-04 12:41] minrk commented on #136
fwiw, this specific issue can be addressed by explicitly setting `config_file_name = 'jupyter_notebook_config'` in the nbclassic ExtensionApp. The _default_ is to use `jupyter_{name}_config`, but it can be set directly.

[2022-08-04 12:56] echarles commented on #136
That is a excellent hint.

Stepping back a bit, what do we want as behavior? should just jupyter_notebook_config be read, or jupyter_nbclassic_config only, or both?

We don't want the admin/user, especially that some trait are already converted (with warning) by notebook_shim to the jupyter_server traits.

If we want to build something crazy, we can convert the notebook traits to nbclassic traits,

[2022-08-04 13:12] minrk commented on #136
My understanding of the goal of nbclassic is to get the classic notebook experience delivered while running on the updated Jupyter server. That is, keep everything as-is working (config, extensions, etc.). That suggests it should load existing config names and not defining new ones.

But this is also notebook 7, right? I'm not really sure nbclassic has a place in a future with notebook 7, since nb

[2022-08-05 16:19] echarles commented on #136
@Zsailer I have just discussed with @RRosio and @ericsnekbytes. It sound to us that @minrk proposal could just be applied to solve this issue. WDYT?

[2022-08-05 19:04] Zsailer commented on #136
Sure, this makes sense to me. I opened #137 to fix this.

[2022-08-06 05:54] #136 closed

[2022-08-09 12:04] jedbrown commented on #89
I'm having the same issue with nbclassic-0.4.3 for local images. It works for remote images (`<img src="https://...png" />`) but not for local images (`<img src="local.png" />`). The local images work if I open the same notebook in Lab.

[2022-08-09 12:17] jedbrown commented on #89
Hmm, I can work around this by prepending `/files/` to relative paths, as in `<img src="/files/local.png" />` or `![](/files/local.png)`.
[code]

[2022-08-09 17:49] obarak commented on #46
@Zsailer Following the discussion [here](https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator/issues/127#issuecomment-1136633835), can you re-open the issue?

[2022-08-15 14:47] scmmmh opened #140 "Error using jupyter_nbextensions_configurator with nbclassic"
I'm trying to use nbclassic (0.4.2.) with the [jupyter_nbextensions_configurator](https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator) using the notebook_shim and getting the following error:

[code]

I have also reported this here: https://github.com/jupyter/notebook_shim/issues/9, but I'm not sure which project it is best reported in.

[2022-08-22 16:04] jedbrown commented on #89
This is quite disruptive when publishing notebooks via jupyter-book because the extra `/files/` that I have to manually add to my notebooks to appease nbclassic aren't rewritten by jupyter-book. Does anyone know a workaround?

I'm tied to nbclassic when presenting in class because I use the RISE extension, but I also publish as a website using jupyter-book. Or maybe @choldgraf has a tip to get jup

[2022-08-27 09:18] echarles commented on #140
Thx @scmmmh for reporting. I have the same issue and will look for a fix.

[2022-08-31 16:10] echarles opened #143 "Correctly show the application name and version in the About box"
NbClassic static assets (javascript, css, html) is being used by nbclassic and notebook v6.5.

When the user asks for the About box via the menu, he should be shown with the correct application and version name.

[2022-09-02 14:45] scmmmh opened #144 "Local file redirect behaviour differs from notebook 6.4.12"
I've run into a problem with displaying image files in a Markdown cell, when running in nbclassic compared to when running in the notebook 6.4.12 directly. I have a simple notebook file and an image in the same directory:

[code]

In the notebook file, I have the following markdown (in an appropriate cell):

[code]

When running via `jupyter notebook`, the image is displayed correctly, but when ru

[2022-09-03 04:45] echarles opened #145 "Jupyter blog post"
During our last community call, we said we would write down a blog post to be published on https://blog.jupyter.org.

This issue tracks this works and highlights the  main objective of that post:. I will put a few topics here, please update this first comment (or add more comments) so we are aligned on the target.

- Descrbe the situation of notebook 6 and 7
- Explain why we need nbclassic and wha

[2022-09-09 08:31] nthiery opened #146 "nbclassic bypasses content handlers for /notebooks/* url's"
nbclassic currently redirects /notebooks/* to /edit/* for any path without an ipynb extension:

https://github.com/jupyter/nbclassic/blob/7752bd880122755c13273e0dad53fb66b8797f9b/nbclassic/notebookapp.py#L275

This redirection bypasses content handlers, forcing any non .ipynb file to be opened with a text editor.

This breaks e.g.:
- jupytext notebooks (see [https://github.com/mwouts/jupytext/issu

[2022-09-10 13:04] echarles commented on #140
Just opened https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator/pull/141 to fix this.

[2022-09-12 01:27] #143 closed

[2022-09-12 02:04] #144 closed

[2022-09-12 02:04] #146 closed

[2022-09-12 13:20] scmmmh commented on #89
This is likely to be fixed in #148.

[2022-09-12 13:38] jedbrown commented on #89
Thanks! I can confirm local images work as expected after `pip install git+https://github.com/jupyter/nbclassic@main`.

[2022-09-12 16:25] alexandermichels commented on #89
Working for me as well! Thanks!

[2022-09-13 16:21] wshanks opened #150 "Vulnerabilities in bundled javascript libraries?"
A security scanning tool flagged a few of the bundled javascript libraries in `notebook` version 6.4.12 as insecure. From what I understand, going forward `notebook` will draw its javascript components from this package. Should these components be updated or have the vulnerabilities been considered and deemed not applicable to `notebook`/`nbclassic`? Sorry if this is noise. I just wanted to pass a

[2022-09-14 14:57] RRosio opened #151 "Adding a webhook to build docs automatically with new commits"
With the [nbclassic readthedocs documentation](https://nbclassic.readthedocs.io/en/latest/) up, a nice feature to make use of is to add a webhook to allow the documentation to build automatically. We can also add a badge to show the status of the docs in the Readme file for visibility.

[2022-10-05 12:36] cycomanic opened #157 "jupytext still not working (content handlers still seem to be bypassed)."
#147 was fixed with #148 but nbclassic still downloads `.py` files instead of opening via jupytext as referred to in #147. Is there something that jupytext should be doing differently?

[2022-10-10 07:42] echarles commented on #151
@RRosio I think you said that the hook was enabled, but don't have the details. Is the website built on each merged PR?

For the badges, https://github.com/jupyter/notebook has a bunch of those, including the docs.

<img width="513" alt="Screenshot 2022-10-10 at 09 41 27" src="https://user-images.githubusercontent.com/226720/194818856-8c406d4a-644c-4ca5-b7cf-856351f19b9e.png">

The code for that i

[2022-10-10 07:45] echarles commented on #157
`.py` opens fine for me on nbclassic. Can you bring more details on how you are using jupytext and how you come to a download? Thx.

<img width="966" alt="Screenshot 2022-10-10 at 09 44 15" src="https://user-images.githubusercontent.com/226720/194819332-adc02cd8-bb81-41ff-92d1-f6dd22b87a4a.png">

[2022-10-10 07:47] echarles commented on #150
@RRosio I think this has been addressed in https://github.com/jupyter/nbclassic/pull/152

Can you please confirm?

[2022-10-10 07:48] echarles commented on #145
This is live on https://blog.jupyter.org/jupyter-notebook-6-5-0-release-candidate-4c229c6dab55

Closing.

[2022-10-10 07:48] #145 closed

[2022-10-10 07:50] echarles commented on #115
The Selenium tests are being ported to Playwright in https://github.com/jupyter/nbclassic/pull/139

Closing.

[2022-10-10 07:50] #115 closed

[2022-10-10 08:45] cycomanic commented on #157
I just tested again:
[code]
If I open the test.py file in the notebook window I get the browser save file dialog. (This is firefox on linux). I also tried a different py file which was previously linked to a notebook and I get the same.

Output of `jupyter labextensions list`:
[code]
(it seems some of my system extensions still get picked up, but that should not really be  a problem should it?)

O

[2022-10-10 09:27] echarles commented on #157
There may be side-effects due to jupyterlab or jupytext, not sure. I have double checked and Firefox on MacOs opens correctly the py files. `jupyter labextensions` is for jupyterlab, for latests nbclassic, you have to use `jupyter nbclassic-extension list`. To be sure, can you post which version you have `jupyter nbclassic --version`

[code]

[2022-10-11 14:17] RRosio commented on #151
@echarles Yes I believe that with each PR merged to the main branch the docs are built.
Thank you for the code samples I will work on adding them in a new PR!

[2022-10-11 15:30] RRosio commented on #151
Badge was added by #160 so I will close this issue as it's complete at this time.

[2022-10-11 15:30] #151 closed

[2022-10-11 16:02] RRosio commented on #150
@echarles Yes I can confirm that! Those changes addressed this issue so with that I think we can close this! Thank you @wshanks for submitting this issue and bringing these CVEs to our attention! For future reference I would like to add here a link to the Jupyter Security outline on handling reporting CVEs https://jupyter.org/security

[2022-10-11 16:02] #150 closed

[2022-10-11 20:40] wshanks commented on #150
Thanks, @RRosio! Sorry, when I opened this, I was thinking of these as annoying nags from a scanning tool rather than actual security vulnerabilities, but I will follow jupyter.org/security next time.

[2022-10-14 06:30] echarles opened #162 "custom-preload does not work for Notebook 6.5.x"
When using nbclassic  0.4.6 that contains https://github.com/jupyter/nbclassic/pull/155, the notebook page fails to load with following errors in the browser console:

[code]

<img width="785" alt="Screenshot 2022-10-14 at 08 22 06" src="https://user-images.githubusercontent.com/226720/195777640-908bc8f4-4ea8-4acf-9865-6b3238d3b299.png">

Server log:

[code]

We need to fix that because for now no

[2022-10-14 06:34] echarles commented on #162
cc/ @RRosio @ericsnekbytes

[2022-10-14 11:36] mcrutch opened #163 "/nbclassic/ should redirect to /nbclassic/tree"
If nbclassic is installed along-side NB7 and someone goes to /nbclassic/ it should redirect to /nbclassic/tree/.  This is similar to how going to / would redirect to /tree or /lab depending on your settings.  Instead you get a 404 page which makes it seem like nbclassic is not installed.

[2022-10-14 12:33] echarles commented on #163
Makes sense. We will open a PR for that. Thx for reporting.

[2022-10-14 14:52] mcrutch opened #164 "nbclassic does not work with Notebook v7 if Jupyter server is not running at /"
When we run Jupyter we run it at /Jupyter/ or similar because it is one of many services running on the same box.  I can visit nbclassic as /Jupyter/nbclassic/tree but then it munges the url to be /nbclassic/Jupyter/noteoboks/<notebookname>.ipynb

I confirmed IPython.notebook.base_url has the correct value (/Jupyter/) when in the notebooks page, so it looks like the nbclassic, and base_url compone

[2022-10-14 15:32] lneves12 commented on #162
Oh interesting, sorry. I am trying to understand why this broke the page, it should have been caught by the catch.

[2022-10-14 15:59] echarles commented on #162
The error happens when you launch with `jupyter notebook`(not with `jupyter nbclassic`)

[2022-10-17 11:35] mcrutch commented on #164
Pretty sure it is because you have the parameters flipped in situations like this.  The Base URL of the server should be inserted BEFORE the url of NBClassic.

https://github.com/jupyter/nbclassic/blob/7752bd880122755c13273e0dad53fb66b8797f9b/nbclassic/static/tree/js/newnotebook.js#L88

[2022-10-17 12:57] echarles commented on #164
Great catch. do you feel like opening a PR for this?

[2022-10-17 13:07] mcrutch commented on #164
I am digging through this a bit now, but it is hard to trace all the spots affected

[2022-10-17 16:15] echarles commented on #163
@mcrutch I have opened https://github.com/jupyter/nbclassic/pull/166 to fix this. If you have cycles, could you double check and report if it works for you. Thx again.

[2022-10-18 07:25] #164 closed

[2022-10-18 13:49] mcrutch opened #167 "Jupyter logo "dashboard" link goes to default app, breaking out of classic"
Could be intended, could be no one thought about it because they still have classic as their default

Scenario:
* Start Jupyter with: `jupyter server` or `jupyter lab` (or `jupyter notebook` if using notebook v7 + nbclassic)
* visit NBClassic
* Top-left Jupyter logo goes to the launched UI rather than classic

This means if you are using classic, and open a notebook, the only way back to the tree

[2022-10-18 21:56] #163 closed

[2022-10-19 03:50] echarles commented on #167
I guess this is not intended and clicking the top left logo should return to the nbclassic tree view, whatever command is used.

Maybe the fix is easy, but it sounds like it deserves enough care to cover all cases. Depending on the installe packages (notebook 7 or not...), the used command, and also the special case of Notebook 6.5.x that reuses the NbClassic static assets, we must be sure the cor

[2022-10-19 03:52] echarles commented on #162
This is fixed with https://github.com/jupyter/notebook/pull/6580

Closing.

[2022-10-19 03:52] #162 closed

[2022-10-19 11:31] mcrutch commented on #167
Did not know about the Notebook v6 dependency on NBClassic, interesting.

I thought about this some more and had another concern for after the NBv7 transition.  At least currently, NBClassic relies on "Notebook" to provide the terminal and possibly other UI components.  Is that planned to always be the case? Because that situation would be even harder if not impossible to address since you are act

[2022-10-19 11:44] echarles commented on #167
When can know if `jupyter nbclassic` as https://github.com/jupyter/nbclassic/blob/7e55b21ddb84777945fdd5b34b0f8ad325d882ff/nbclassic/__init__.py is invoked. We can set a flag there that can be read later one and injected in the jinja template. That is a theory and an practicalo implementation could confirm that.

[2022-10-19 13:31] mcrutch commented on #167
I did a proof of concept to make it only affect NBClassic not Notebook v6, but it is a bit hacky at the moment.  I only used what was currently available to the templates:
https://github.com/jupyter/nbclassic/compare/main...mcrutch:nbclassic:fix/nbclassic-base-url

[2022-10-19 13:41] echarles commented on #167
[code]

not sure to fully understand.

- If `jupyter nbclassic` is  NOT invoked `nbclassic_path()` will be empty.
- If `jupyter nbclassic` is invoked and notebook < 7, `nbclassic_path()` will ALSO be empty.

How can you ensure you know what command is invoked. I trust you when you say POC is working for you, just trying to understand. I am not against adding an additional property like `nbclassic_

[2022-10-19 15:10] mcrutch commented on #167
Yeah, my first cut ONLY affected nbclassic with Notebook v7 because my goal was to not break v6 at all and just to see how it could work.
I did make another swing at it though.  This just always builds the path to populate that link nut if it is somehow not set, it exhibits the existing behavior as a safety net.  I tested this with both notebook 6 and notebook 7, starting jupyter multiple ways.  T

[2022-10-19 15:17] echarles commented on #167
Super! Would you mind opening a PR with your last diff. I will then review and test with various setups and commands.

[2022-10-19 15:21] mcrutch commented on #167
Oops Meant to go back and to squash the old commits, but that can be done on merge

[2022-10-19 18:16] #167 closed

[2022-10-24 07:56] echarles commented on #89
Closing based on previous positive reports. Thx all.

[2022-10-24 07:56] #89 closed

[2022-10-24 07:57] echarles commented on #81
The defined plan is now implemented. I will wait a few more days before closing this one.

[2022-10-28 05:46] echarles commented on #43
The `shim_config_from_notebook_to_jupyter_server`.is implemented in the `notebook_shim` repo https://github.com/jupyter/notebook_shim in https://github.com/jupyter/notebook_shim/blob/189915e9ff4b1c926c9439211fdf7f6767c1bb77/notebook_shim/shim.py#L145-L149

Should this issue be move the the notebook_shim repo?

[2022-10-28 05:53] echarles commented on #61
The sort logic is no more in nbclassic and implemented in notebook_shim https://github.com/jupyter/notebook_shim/blob/189915e9ff4b1c926c9439211fdf7f6767c1bb77/notebook_shim/nbserver.py#L84-L92

Should this issue be transferred to `notebook_shim`?

Also I wonder if the `def _link_jupyter_server_extension(serverapp)` is even used in notebook_shim as it is normally. a jupyter-server task. Should this

[2022-10-28 06:01] echarles commented on #135
The `setup.cfg` is only use by the Check Release CI job to generate a hash for the `key`. The log says e.g.

[code]

`setup.cfg` is also bundled in the `SOURCES.txt`.

Would it be OK to simply remove `setup.cfg` and use `setup.py` to generate the hash?

[2022-10-28 06:24] echarles commented on #95
I am trying to reproduce this but can only get one output_subarea.

<img width="299" alt="Screenshot 2022-10-28 at 08 15 57" src="https://user-images.githubusercontent.com/226720/198517848-f276ca0d-71be-41d3-ae6b-0501896b1eec.png">

[2022-10-28 14:52] kevin-bates commented on #43
Hi @echarles.

It looks like the issue may be that `log_json` isn't on jupyter_server and, (I'm guessing here) the shim layer makes an assumption that all notebook traits will exist on jupyter_server.

If the shim layer needs to tolerate missing traits on jupyter_server, then it sounds like an issue for that repo.  However, to preserve functional compatibility, we should get https://github.com/jup

[2022-10-28 14:57] echarles commented on #81
Closing. Thx all.

[2022-10-30 07:07] echarles commented on #140
https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator/pull/141 is waiting for reviews from the core maintainers. Please upvote that PR in the jupyter-contrib repository if you want to get this move forward.

[2022-11-02 20:06] dleen commented on #140
Thanks @echarles !

That indeed fixes the stack trace. However when I apply the patch locally I am still seeing a bunch of 404s for the configurator:
[code]
and the configurator doesn't actually load.

Any pointers where I might start debugging this?

For example:
[code]

[2022-11-03 09:25] echarles commented on #140
Thx for trying out @dleen and reporting here.

I have tested in a clean env and opened https://github.com/jupyter/nbclassic/pull/174/ to update the documentation. The following steps worked fine for me (the extension configuration is show and operational, no 404).

[code]

<img width="1156" alt="Screenshot 2022-11-03 at 10 23 29" src="https://user-images.githubusercontent.com/226720/199686000-c907

[2022-11-03 09:53] echarles commented on #140
If I install and enable the last published `jupyter_nbextensions_configurator`and launch `jupyter notebook` (6.5.x), I get the following warning (the extension works fine).

[code]

[2022-11-03 09:59] echarles commented on #140
To add more info related to https://github.com/jupyter/nbclassic/issues/140#issuecomment-1301832643

After enabling with `jupyter nclassic-*` and launching with `jupyter nbclassic` or  `jupyter notebook` does not show any 404 and the extension is working fine on my env.

[2022-11-03 10:41] echarles commented on #17
Is this still applicable? Is this linked to https://github.com/jupyter/nbclassic/issues/135?

[2022-11-03 10:45] blink1073 commented on #17
I'm not sure what I meant here.  😅

[2022-11-03 10:45] #17 closed

[2022-11-03 10:49] echarles commented on #17
Maybe one of those days :)

[2022-11-16 17:01] echarles commented on #140
`jupyter_nbextensions_configurator` 0.6.1 has just been released and should fix this issue. Please test in you env and report if it works or not for you with the latest nbclassic and/or notebook 6. Thx.

[2022-11-16 17:05] echarles commented on #140
If you test with nbclassic, please use the following commands before testing

[code]

For notebook:

[code]

[2022-11-18 09:24] minrk opened #182 "logo url no longer overrideable"
The logo URL was previously controlled by `default_url`, but #168 has hardcoded the value to the nbclassic tree view root. As far as I can tell, it can no longer be overridden, as `nbclassic_tree` is always defined when running with jupyter_server.

I don't quite follow the discussion in #167 - the logo link is meant to go to the default URL for the server, not the tree root which is only the _def

[2022-11-18 09:46] echarles commented on #182
cc/ @mcrutch

[2022-11-21 11:12] scmmmh commented on #140
I can confirm that this now works for me.

[2022-11-21 11:54] echarles commented on #140
Thx. Closing as fixed.

[2022-11-21 11:54] #140 closed

[2022-11-22 09:56] skukhtichev opened #183 "[CVE-2022-24785] A path traversal vulnerability in moment"
Moment.js is a JavaScript date library for parsing, validating, manipulating, and formatting dates. A path traversal vulnerability impacts npm (server) users of Moment.js between versions 1.0.1 and 2.29.1, especially if a user-provided locale string is directly used to switch moment locale. This problem is patched in 2.29.2, and the patch can be applied to all affected versions. As a workaround, s

[2022-11-23 15:25] #135 closed

[2022-11-25 07:09] echarles opened #185 "Latest notebook 7 alpha uses jupyter_server 2 and breaks the shim"
The latest notebook 7 alpha used jupyter_server 2 which breaks nbclassic shim on startup

[code]

[2022-11-29 17:56] #183 closed, assigned to nobody

[2022-11-29 21:00] #185 closed